<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>week4</title>
		<style type="text/css">
		.head{
			background-color:#223343;
			color:white;
			font-weight:bold;
			font-size:40px;
			text-align:center;			
			height:200px;			
			line-height:200px;
		}
		.content{
			width:300px;
			margin-left:auto;
			margin-right:auto;
		}
		.box{
			text-align:center;			
			margin-left:auto;
			margin-right:auto;
		}
		p{
			line-height:10px;
			margin:0px;
		}
		</style>
    </head>  
    <body style="margin:0px;">
	<div class="head">歡迎光臨，請註冊登入系統</div>
	<div class="content">
		<div class="box">
			<h2>註冊帳號</h2>
		</div>
        <form action="/signup" method="POST">
			姓名&nbsp;&nbsp;<input type="text" name="txtName" style="width:70%;"/><br>
            <p>&nbsp;&nbsp;&nbsp;</p>
            帳號&nbsp;&nbsp;<input type="text" name="txtAccount" style="width:70%;"/><br>
            <p>&nbsp;&nbsp;&nbsp;</p>
			密碼&nbsp;&nbsp;<input type="text" name="txtPassword" style="width:70%;"/><br>
			
			<div class="box">
				<p>&nbsp;&nbsp;&nbsp;</p>
				<button name=butname>註冊</button>   
			</div>
			</br>
			</br>
		</form>
		<form action="singin" method="POST">			
			<div class="box">
				<h2>登入系統</h2>
			</div>
		
			帳號&nbsp;&nbsp;<input type="text" name="txtAccount1" style="width:70%;"/><br>
            <p>&nbsp;&nbsp;&nbsp;</p>
			密碼&nbsp;&nbsp;<input type="text" name="txtPassword1" style="width:70%;"/><br>
			
			<div class="box">
				<p>&nbsp;&nbsp;&nbsp;</p>
				<button>登入</button>   
			</div>
        </form>        
	</div>		
    </body> 
	<script type="text/javascript">
		var req = new XMLHttpRequest();
		req.open("GET", "http://127.0.0.1:3000/api/users?username=name",true);
		req.send();
	</script>
</html>
